*.pth
.states
.states/*
.web/*
.idea/*
.idea
.mypy_cache
*.db
*.py[cod]
.web
__pycache__/
assets/external/
node_modules/
.env/
package-lock.json
__azurite_db_table__.json
*.pdf
.vscode/
.env
.states/
git-update.bat
.fleet/*
.venv/
.DS_Store



# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
